@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../assets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Italic";
  src: url("../assets/fonts/Roboto-Italic.ttf");
}

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #df7a5e;
  --ion-color-primary-rgb: 223, 122, 94;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #c46b53;
  --ion-color-primary-tint: #e2876e;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** Application **/
  --ion-background-color: #48484a;
  --ion-text-color: #ffe5d9;

  --ion-font-family: "Nunito";
}

ion-tab-bar {
  padding: 1rem;
  --background: #3d3d3e;
  padding-bottom: "400px";
  margin-bottom: env(safe-area-inset-bottom);
  border-top: 1px solid #48484a;
  box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.1);
}

ion-tab-button {
  flex-direction: row;
  border-radius: 10px;
  padding-top: 1rem;
}

ion-tab-button ion-icon {
  font-size: 1.5rem;
}

ion-tab-button ion-label {
  font-size: 0.8rem;
}

ion-toolbar {
  --border-color: transparent;
}

ion-header {
  background-color: #48484a;
  --border-color: transparent;
}

ion-header ion-title {
  font-family: "Roboto-Bold";
  font-size: 1.8rem;
  white-space: normal;
  color: #c1c1c2;
  text-align: left;
  text-transform: uppercase;
}

ion-header ion-title {
  font-family: "Roboto-Bold";
  font-size: 1.8rem;
  white-space: normal;
  color: #c1c1c2;
  text-align: left;
  text-transform: uppercase;
}

.welcome-p {
  max-width: 23em;
}

.welcome-title {
  max-width: 20em;
}

ion-card {
  --background: #3d3d3e;
  border-radius: 16px;
  max-width: 400px;
}

start-button,
a:hover {
  color: green;
}
